body {
  background: #132431;
  margin: 0;
}

header {
  height: 80px;
  background: #0f171e;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  position: sticky;
  top:0;
}

header img {
  width: 10%;
  height: 40px;
}

ul {
  padding: 0;
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

ul li > a {
  color: #f2f2f2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  transition: 0.5s all;
  box-sizing: border-box;
}

header ul li a:hover {
  color: #0799cf;
  border: 2px dotted #0799cf;
  padding: 10px;
  border-radius: 5px;
}

main .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top h1 {
  color: #f2f2f2;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.top img {
  width: 10%;
}

.top input[type="text"] {
  margin: 20px;
  height: 40px;
  width: 300px;
  font-size: 15px;
  padding: 11px;
  margin: 25px 0 25px 0;
  transition: opacity 0.2s ease-in-out, border 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out,
    outline 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3);
  outline: 0;
  border: 1px solid #4e585c;
  color:snow
}

main input[type="text"]:focus {
  border: 2px solid #0799cf;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
}

.bottom .left h3 {
  color: #f2f2f2;
  margin: 10px 0 10px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bottom .left label {
  color: #8197a4;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bottom .right {
}

.bottom input[type="checkbox"] {
  width: 30px;
  height: 60px;
  margin: 0 0 0 20px;
}

.bottom a {
  text-decoration: none;
  color: skyblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0f171e;
}

footer ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
align-items: center;
  height: 40px;
  width:100%;
}

footer li {
    color: #0799cf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
